.container.new-analysis
  .row
    .col-sm-12
      %h1 Mysterious Tundra 5972
      = render 'form'

  .row
    .col-sm-12
      %p
        Do you want to look the
        = link_to 'source', 'https://github.com/alvesdan/site-analyzer'
        on Github?
