body {
  background: #f4f4f4;
}

.new-analysis {
  padding-top: 40px;
  max-width: 600px;
}

.page-header {
  h1 {
    font-weight: 300;
    color: #666;
  }
  p.lead {
    color: #999;
  }
}

.tooltip {
  word-wrap: break-word;
}
